In [1]:
import pandas as pd

In [2]:
mydataset=pd.read_csv(r"C:/Users/Shubh_Ram/Desktop/TOOL_AI/Tool_64bit/Ml_Data/Gender_Height_Weight_Index.csv")

In [3]:
mydataset.keys()

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [4]:
Index_name=pd.Series(["Extremely Weak","Weak","Normal","Overweight","Obesity","Extreme Obesity"])

In [5]:
Index_name

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [6]:
mydataset.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [11]:
male_data=mydataset[mydataset["Gender"]=="Male"]
female_data=mydataset[mydataset["Gender"]=='Female']

In [12]:
male_data.head()

  Gender  Height  Weight  Index
0   Male     174      96      4
1   Male     189      87      2
4   Male     149      61      3
5   Male     189     104      3
6   Male     147      92      5

In [13]:
female_data.head()

    Gender  Height  Weight  Index
2   Female     185     110      4
3   Female     195     104      3
9   Female     169     103      4
11  Female     159      80      4
12  Female     192     101      3

In [16]:
# male Input and output
Male_Feature=male_data[["Height","Weight"]]
Male_target=male_data["Index"]
#Split the male_Feature and male_target
X_male_train=Male_Feature[:210]
X_male_test=Male_Feature[210:]
Y_male_train=Male_target[:210]
Y_male_test=Male_target[210:]

In [26]:
# Model for male
from sklearn.neighbors import KNeighborsClassifier
maleobj=KNeighborsClassifier()
malemodel=maleobj.fit(X_male_train,Y_male_train)

In [27]:
#Female Input and Output
Female_Feature=female_data[["Height","Weight"]]
Female_target=female_data["Index"]
#Split the Female_feature and target into train set and test set
X_female_train=Female_Feature[:215]
X_female_test=Female_Feature[215:]
Y_female_train=Female_target[:215]
Y_female_test=Female_target[215:]

In [28]:
#model for female
femaleobj=KNeighborsClassifier()
femalemodel=femaleobj.fit(X_female_train,Y_female_train)

In [32]:
#Classification Accuracy for male and Female
from sklearn import metrics
Ypmale=malemodel.predict(X_male_test)
Ypfemale=femalemodel.predict(X_female_test)
male_acc=metrics.accuracy_score(Y_male_test,Ypmale)*100
female_acc=metrics.accuracy_score(Y_female_test,Ypfemale)*100

In [33]:
male_acc

85.71428571428571

In [34]:
female_acc

80.0

In [41]:
output_class=femalemodel.predict([[185,110]])
Index_name[output_class]

4    Obesity
dtype: object