In [98]:
import pandas as pd
import numpy as np

In [99]:
my_data=pd.read_csv(r"C:/Users/Shubh_Ram/Desktop/TOOL_AI/Tool_64bit/Ml_Data/Gender_Height_Weight_Index.csv")

In [255]:
my_data.head()

  Gender  Height  Weight  Index
0      1     174      96      4
1      1     189      87      2
2      2     185     110      4
3      2     195     104      3
4      1     149      61      3

In [258]:
Index_name=pd.Series(["Extremely Weak","Weak","Normal","Overweight","Obesity","Extreme Obesity"])
Index_name

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [236]:
#Male....1
#Female...2
my_data.Gender[my_data.Gender=="Male"]=1
my_data.Gender[my_data.Gender=="Female"]=2

C:\Users\Shubh_Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Shubh_Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [237]:
my_data.head()

  Gender  Height  Weight  Index
0      1     174      96      4
1      1     189      87      2
2      2     185     110      4
3      2     195     104      3
4      1     149      61      3

In [238]:
my_data.head(2)

  Gender  Height  Weight  Index
0      1     174      96      4
1      1     189      87      2

In [239]:
my_fe=my_data.drop("Index",axis=1)

In [240]:
my_target=my_data["Index"]

In [241]:
from sklearn.model_selection import train_test_split

In [242]:
X_train,X_test,Y_train,Y_test=train_test_split(my_fe,my_target,test_size=.20,random_state=101)

In [243]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier

In [244]:
MultiNBTeacher=MultinomialNB()
GaussianNBTeacher=GaussianNB()
BernoNBTeacher=BernoulliNB()
KnTeacher=KNeighborsClassifier()

In [245]:
MultiNB_learner=MultiNBTeacher.fit(X_train,Y_train)
GaussNB_learner=GaussianNBTeacher.fit(X_train,Y_train)
BernoNB_learner=BernoNBTeacher.fit(X_train,Y_train)
Kn_learner=KnTeacher.fit(X_train,Y_train)

In [246]:
#X_test.................Y_test
Ya=Y_test
#Yp is predicted value for X_test
YpMultiNB=MultiNB_learner.predict(X_test)
YpGaussNB=GaussNB_learner.predict(X_test)
YpBernoNB=BernoNB_learner.predict(X_test)
Ypknn=Kn_learner.predict(X_test)

In [247]:
from sklearn.metrics import accuracy_score

In [248]:
AcMulti=accuracy_score(Ya,YpMultiNB)
AcGauss=accuracy_score(Ya,YpGaussNB)
AcBer=accuracy_score(Ya,YpBernoNB)
AcKnn=accuracy_score(Ya,Ypknn)

In [249]:
Acc_of_model=[AcMulti,AcGauss,AcBer,AcKnn]

In [250]:
Acc_table=pd.DataFrame({"Accuracy":Acc_of_model},index=["MultiNomialNB","GaussaianNB","BernoulliNB","kNN"])

In [251]:
Acc_table

               Accuracy
MultiNomialNB      0.80
GaussaianNB        0.71
BernoulliNB        0.43
kNN                0.91

In [263]:
p=MultiNB_learner.predict([[1,144,145]])

In [264]:
Index_name[p]

5    Extreme Obesity
dtype: object

In [265]:
X_test.head()

    Gender  Height  Weight
18       1     144     145
361      1     161     103
104      2     192     140
4        1     149      61
156      2     182      84

In [266]:
Y_test.head()

18     5
361    4
104    4
4      3
156    3
Name: Index, dtype: int64